<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>pay/less</title>
    <meta name="description" content>
    <meta name="author" content>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,600&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="css/normalize.css"> -->
    <link rel="stylesheey" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/skeleton.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_stackfiles.css')}}">
    <!-- <link rel="stylesheet" href="css/style_research.css"> -->

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/site.js')}}"></script>
    <script src="{{url_for('static', filename='js/typewriter.js')}}"></script>
</head>

<body>
    <div class="container">
        <div class="nav-spacer"></div>
        <nav class="navbar">
            <div class="container">
                <ul class="navbar-list">
                    <a href="#about"><li class="navbar-item">ABOUT</li></a>
                    <a href="research.html"><li class="navbar-item">WORKFLOW</li></a>
                    <a href="team.html"><li class="navbar-item">SIGNIT</li></a>
                    <a href="pubs.html"><li class="navbar-item">FILESTACK</li></a>
                    <a href="pubs.html"><li class="navbar-item">TEAM</li></a>
                    <a href="contact.html"><li class="navbar-item">CONTACT</li></a>
                    <a href="#cryptoiitbh"><li class="navbar-item">REGISTER</li></a>
                    <a href="#cryptoiitbh"><li class="navbar-item">DONATE</li></a>
                    
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="spacer"></div>
        </div>
    
        <div class="row">
            <div class="eight columns">
                <div class="heading">Active Docs</div>
                <div class="row">
                    <div class="spacer"></div>
                </div>
                <ul class="active-list">
                    <li>
                        <div class="four columns">
                            <img style="float:right;max-width: 100%;" src="https://imgs.xkcd.com/comics/security.png">
                        </div>
                        <div class="eight columns">
                            <h3 class="small heading no-border">Document - Moona Madarchod-DUE - 24.9.91</h3>
                            <h3 class="small heading">CREATOR - IIT BHILAI</h3>
                            
                            <div class="spacer-small"></div>
                            <a class="button button-primary" href="#">SIGN DOCUMENT</a>
                            <a class="button button" href="#">REJECT</a>
                        </div>

                    </li>
                    <li>
                        <div class="four columns">
                            <img style="float:right;max-width: 100%;" src="https://imgs.xkcd.com/comics/security.png">
                        </div>
                        <div class="eight columns">
                            <h3 class="small heading no-border">Document - Moona Madarchod-DUE - 24.9.91</h3>
                            <h3 class="small heading">CREATOR - IIT BHILAI</h3>
                            
                            <div class="spacer-small"></div>
                            <a class="button button-primary" href="#">SIGN DOCUMENT</a>
                            <a class="button button" href="#">REJECT</a>
                        </div>

                    </li>
                    <li>
                        <div class="four columns">
                            <img style="float:right;max-width: 100%;" src="https://imgs.xkcd.com/comics/security.png">
                        </div>
                        <div class="eight columns">
                            <h3 class="small heading no-border">Document - Moona Madarchod-DUE - 24.9.91</h3>
                            <h3 class="small heading">CREATOR - IIT BHILAI</h3>
                            
                            <div class="spacer-small"></div>
                            <a class="button button-primary" href="#">SIGN DOCUMENT</a>
                            <a class="button button" href="#">REJECT</a>
                        </div>

                    </li>
                </ul>
            </div>
    
            <div class="four columns">
                <div class="heading">Converse</div>
                <div class="row">
                    <div class="spacer"></div>
                </div>
                Track your conversations here.

            </div>
        </div>

    </div>

    
</body>
</html>